* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.container {
    transform: translateY(-50px);
}

.fylo-card {
    position: relative;
    background-color: hsl(228, 56%, 26%);
    padding: 40px;
    border-radius: 15px;
}

.logo-card {
    border-top-right-radius: 90px;
    padding: 50px 40px;
}

.logo-card img {
    display: block;
    margin-bottom: 34px;
}

.fylo-card:not(.logo-card) {
    margin-top: 35px;
}

.logo-card .dflex {
    gap: 16px;
}

.icon-box {
    width: 50px;
    height: 50px;
    background: #0c122c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.progress {
    height: 18px;
    background: #0c122c;
    border-radius: 20px;
    padding: 3px;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg,#ffa399,#ff4d97);
    border-radius: 20px;
    position: relative;
}

.dot {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

.storage-badge {
    position: absolute;
    top: -55px;
    right: 35px;
    background: white;
    padding: 16px 26px;
    font-size: 32px;
    font-weight: 700;
    border-radius: 12px 12px 0px 12px;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.storage-number {
    font-size: 34px;
    font-weight: 700;
    color: #000;
}

.storage-label {
    font-size:12px;
    letter-spacing:2px;
    color:#777;
}

.storage-badge::after {
    content:"";
    position: absolute;
    bottom: -12px;
    right: 0px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid white;
}